.product-container{
    display: flex;
    flex-direction: column;
}

.product-container > *{
    width: 100%;
}

#file-upload{
    display: none;
}

.up{
    padding: 5px 16px;
    background-color: #3f51b5;
    color: #f8f9fa;
    border: 0px solid #fff;
}